# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Python packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Env vars
.env

# Ignore Claude file
CLAUDE.md
claude.md
VARIABLES_MODELO.md
variables_modelo.md

